loa-combined-lowz.fits
loa-combined-lowz-zflags.fits
loa-combined-lowz-fastspec-phot.fits
DESI_BGS_cartesian_10_9.pdf
DESI_BGS_cartesian_10_9_dark.pdf
Delaunay_Cube.pdf
Delaunay_Slice.pdf
test.fits
__pycache__/
*.pyc
*.pyo
1_loaSampleSelection_forDK.ipynb
2_loaSelectedSample_massCompletenessCut_forDK.ipynb
5_loa+LSSsample_massCompletenessCut.ipynb
TNG300-1_z=0_{self.filetype}_Subhalos.pdf
cache/DESI_delaunay_graph.pt
cache/DESI_geom.pt
cache/DESI_features.pt
cache/DESI_NETWORK.zcat.pt
cache/DESI_delaunay_graph_old.pt
cache/DESI_features_old.pt
cache/DESI_geom_old.pt
cache/DESI_NETWORK.zcat_old.pt
DESI_BGS_PRERELEASE_VAC.pkl
DESI_galaxy_animation_black_bg.gif
edge_length_distribution.png
Interactive - graph_catalog.py.ipynb
long_edges_spatial.png
sim_bgs_side_nocolors.pdf
sim_bgs_side.pdf
cache/
WORKFLOWS_AND_REFACTOR_PLAN.md
